{% extends 'base.html' %}
{% load static %}

{% load tags %}

{% block title %}
Spreadsheet
{% endblock title %}

{% block embeds %}
<meta property="og:image" content="{% static 'logo.png' %}">
<meta property="og:title" content="ComboCodex | Combo Spreadsheet">
<meta property="og:description" content="ComboCodex is a website where users can shared and view team combos from the platform fighting game Brawlhalla">
{% endblock embeds %}

{% block header %}
<h1>Spreadsheet</h1>
{% endblock header %}

{% block content %}
<section>
    <div class="spreadsheet-content">
        <div class="tooltip spreadsheet-tooltip">
            <div class="spreadsheet__pairs">
                <div class="spreadsheet__pair">
                    <img class="spreadsheet__pair--legend-one">
                    <img class="spreadsheet__pair--weapon-one">
                </div>
                <div class="spreadsheet__pair">
                    <img class="spreadsheet__pair--legend-two">
                    <img class="spreadsheet__pair--weapon-two">
                </div>
            </div>
            <p class="text--center text--xs"><span></span></p>
        </div>
        <script type="text/hyperscript">
            init
                set global spreadsheetZoom to 1
                set global spreadsheetMaxZoom to 2
                set global spreadsheetMinZoom to 0.25
            end
            on spreadsheetzoomchange from document
                set the @style of .spreadsheet to `--spreadsheet-zoom: ${spreadsheetZoom}`
                if spreadsheetZoom < 2
                    remove .disabled from .spreadsheet__zoom-in
                else
                    add .disabled to .spreadsheet__zoom-in
                end
                if spreadsheetZoom > 0.2
                    remove .disabled from .spreadsheet__zoom-out
                else
                    add .disabled to .spreadsheet__zoom-out
                end
            end
        </script>
        <script type="text/hyperscript">
            behavior SpreadsheetCell
                on mouseenter
                    set tooltip to .spreadsheet-tooltip
                    set legendOne to `/static/legends/${@data-legend-one}.png`
                    set weaponOne to `/static/weapons/${@data-weapon-one}.png`
                    set legendTwo to `/static/legends/${@data-legend-two}.png`
                    set weaponTwo to `/static/weapons/${@data-weapon-two}.png`
                    set the @src of .spreadsheet__pair--legend-one to legendOne
                    set the @src of .spreadsheet__pair--weapon-one to weaponOne
                    set the @src of .spreadsheet__pair--legend-two to legendTwo
                    set the @src of .spreadsheet__pair--weapon-two to weaponTwo
                    set comboCount to `${@data-combo-count} combo`
                    if @data-combo-count is not 1
                        set comboCount to `${@data-combo-count} combos`
                    end
                    set innerText of <span/> in tooltip to comboCount
                    put tooltip at the start of me
                end
            end
        </script>
        <form class="spreadsheet__form">
            <label class="button spreadsheet__zoom-out" _="
            on click
                decrement global spreadsheetZoom by 0.1
                trigger spreadsheetzoomchange
            end">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400ZM280-540v-80h200v80H280Z"/></svg>
            </label>
            <label class="button spreadsheet__zoom-in" _="
            on click
                increment global spreadsheetZoom by 0.1
                trigger spreadsheetzoomchange
            end">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Zm-40-60v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80Z"/></svg>
            </label>
        </form>
        {{ spreadsheet|safe }}
    </div>
</section>
{% endblock %}