{% extends 'base.html' %}
{% load static %}

{% block title %}
Logout
{% endblock title %}

{% block embeds %}
<meta property="og:image" content="{% static 'logo.png' %}">
<meta property="og:title" content="ComboCodex | Logout">
<meta property="og:description" content="ComboCodex is a website where users can shared and view team combos from the platform fighting game Brawlhalla">
{% endblock embeds %}

{% block header %}
<h1>Logout</h1>
{% endblock header %}

{% block content %}
<section>
    <div class="section-content">
        <p>Are you sure you want to logout?</p>
        <form method="post">
            {% csrf_token %}
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z"/></svg>
                <p>Logout</p>
            </button>
        </form>
    </div>
</section>
{% endblock content %}