{% extends 'base.html' %}
{% load static %}

{% block title %}
Reset Password
{% endblock title %}

{% block embeds %}
<meta property="og:image" content="{% static 'logo.png' %}">
<meta property="og:title" content="ComboCodex | Reset Password">
<meta property="og:description" content="ComboCodex is a website where users can shared and view team combos from the platform fighting game Brawlhalla">
{% endblock embeds %}

{% block header %}
<h1>Reset Password</h1>
{% endblock header %}

{% block content %}
<section>
    <div class="section-content">
        {% if token_fail %}
        <p>The provided password reset is invalid or expired. You can request a new one <a href="{% url 'account_reset_password' %}">here</a>.</p>
        {% else %}
        <p>Fill out the form below to reset your password.</p>
        {% if form.errors %}
        <div>
            {% for error in form.non_field_errors %}
            <p class="text--xs text--error">{{ error }}</p>
            {% endfor %}
            {% for field in form %}
            {% for error in field.errors %}
            <p class="text--xs text--error">{{ error }}</p>
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <form class="accounts-password-reset__form" method="post">
            {% csrf_token %}
            <div>
                <h3>New Password</h3>
                <input required name="password1" type="password" minlength="8" maxlength="25" _="
                on input
                    if my.value.length > 8
                        if my.value == the value of the next <input/>
                            set global passwordValid to true
                            add .hidden to the next <p/>
                        else
                            set global passwordValid to false
                            remove .hidden  from the next <p/>
                        end
                    end
                    trigger validationchanged
                end">
            </div>
            <div>
                <h3>Confirm New Password</h3>
                <input required name="password2" type="password" minlength="8" maxlength="25" _="
                on input
                    if my.value == the value of the previous <input/>
                        set global passwordValid to true
                        add .hidden to the next <p/>
                    else
                        set global passwordValid to false
                        remove .hidden  from the next <p/>
                    end
                    trigger validationchanged
                end">
            </div>
            <p class="text--secondary text--xs hidden">Passwords do not match</p>
            <button class="disabled" type="submit" _="
            on validationchanged from document
                if passwordValid
                    remove .disabled from me
                else
                    add .disabled to me
                end
            end">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                <p>Reset</p>
            </button>
        </form>
        </form>
        {% endif %}
    </div>
</section>
{% endblock content %}