{% extends 'base.html' %}
{% load static %}

{% block title %}
Password Reset Done
{% endblock title %}

{% block embeds %}
<meta property="og:image" content="{% static 'logo.png' %}">
<meta property="og:title" content="ComboCodex | Password Reset Done">
<meta property="og:description" content="ComboCodex is a website where users can shared and view team combos from the platform fighting game Brawlhalla">
{% endblock embeds %}

{% block header %}
<h1>Password Reset Done</h1>
{% endblock header %}

{% block content %}
<section>
    <div class="section-content">
        <p>Your password has been changed. You can now <a href="{% url 'account_login' %}">login</a>.</p>
    </div>
</section>
{% endblock content %}