{% extends 'base.html' %}
{% load static %}

{% block title %}
Email Verification Sent
{% endblock title %}

{% block embeds %}
<meta property="og:image" content="{% static 'logo.png' %}">
<meta property="og:title" content="ComboCodex | Email Sent">
<meta property="og:description" content="ComboCodex is a website where users can shared and view team combos from the platform fighting game Brawlhalla">
{% endblock embeds %}

{% block header %}
<h1>Verification Sent</h1>
{% endblock header %}

{% block content %}
<section>
    <div class="section-content">
        <p>An email has been sent containing details on verifying your account. This process expires in three days and can be refreshed <a href="{% url 'email-resend' %}">here</a>.</p>
    </div>
</section>
{% endblock content %}