__pycache__

combocodex/static/CACHE

combocodex/static/admin

combocodex/static/rest_framework

combocodex/media

.env

combocodex/main/templates/combos/rendered_sheet.html

import_data.py

data.json

db.sqlite3