<div class="combo"{% if not no_view %} hx-trigger="comboviewed" hx-post="{% url 'combos-increment-view' combo.pk %}" hx-swap="none" _="
init
    set element viewed to false
end
on play from <video/> in me
    if not viewed
        get .views in me
        set its innerHTML to its innerHTML as Int + 1
        set element viewed to true
        send comboviewed to me
    end
end"{% endif %}>
    <div class="combo-data">
        <a class="combo-data__pairs" href="{{ combo.get_absolute_url }}">
            <div class="combo-data__pair">
                <p class="tooltip">{{ combo.legend_one.name }} ({{ combo.weapon_one.name }})</p>
                <img src="{{ combo.legend_one.icon }}">
                <img src="{{ combo.weapon_one.icon }}">
            </div>
            <div class="combo-data__pair">
                <p class="tooltip">{{ combo.legend_two.name }} ({{ combo.weapon_two.name }})</p>
                <img src="{{ combo.legend_two.icon }}">
                <img src="{{ combo.weapon_two.icon }}">
            </div>
        </a>
        <div class="combo-data__info">
            <div class="combo-data__stats">
                {% if not combo.is_verified %}
                <div>
                    <p class="tooltip">Unverified</p>
                    <svg class="icon--error" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z"/></svg>
                </div>
                {% endif %}
                {% if request.user.is_staff %}
                <div class="pointer" _="
                on click
                    remove .hidden from the next .modal
                end">
                    <p class="tooltip">Actions</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                </div>
                <a href="{{ combo.get_admin_url }}" target="_blank">
                    <p class="tooltip">Admin</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/></svg>
                </a>
                {% endif %}
                {% if combo.is_recommended %}
                <div>
                    <p class="tooltip">Recommended</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m387-412 35-114-92-74h114l36-112 36 112h114l-93 74 35 114-92-71-93 71ZM240-40v-309q-38-42-59-96t-21-115q0-134 93-227t227-93q134 0 227 93t93 227q0 61-21 115t-59 96v309l-240-80-240 80Zm240-280q100 0 170-70t70-170q0-100-70-170t-170-70q-100 0-170 70t-70 170q0 100 70 170t170 70ZM320-159l160-41 160 41v-124q-35 20-75.5 31.5T480-240q-44 0-84.5-11.5T320-283v124Zm160-62Z"/></svg>
                </div>
                {% endif %}
                {% if combo.is_outdated %}
                <div>
                    <p class="tooltip">Outdated</p>
                    <svg class="icon--error" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m388-212-56-56 92-92-92-92 56-56 92 92 92-92 56 56-92 92 92 92-56 56-92-92-92 92ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/></svg>
                </div>
                {% endif %}
                {% if combo.is_map_specific %}
                <div>
                    <p class="tooltip">Map Specific</p>
                    <svg class="icon--error" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m600-120-240-84-186 72q-20 8-37-4.5T120-170v-560q0-13 7.5-23t20.5-15l212-72 240 84 186-72q20-8 37 4.5t17 33.5v560q0 13-7.5 23T812-192l-212 72Zm-40-98v-468l-160-56v468l160 56Zm80 0 120-40v-474l-120 46v468Zm-440-10 120-46v-468l-120 40v474Zm440-458v468-468Zm-320-56v468-468Z"/></svg>
                </div>
                {% endif %}
                {% if combo.is_alternate_gamemode %}
                <div>
                    <p class="tooltip">Alternate Gamemode</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m422-232 207-248H469l29-227-185 267h139l-30 208ZM320-80l40-280H160l360-520h80l-40 320h240L400-80h-80Zm151-390Z"/></svg>
                </div>
                {% endif %}
                <div>
                    <p class="tooltip">Views</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M640-160v-280h160v280H640Zm-240 0v-640h160v640H400Zm-240 0v-440h160v440H160Z"/></svg>
                    <p class="text--xs text--tertriary views">{{ combo.views }}</p>
                </div>
                {% if request.user.is_authenticated %}
                <label class="combo-favorite">
                    <div class="combo-favorite--favorite">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg>
                        <p class="tooltip">Favorite</p>
                    </div>
                    <div class="combo-favorite--unfavorite">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                        <p class="tooltip">Unfavorite</p>
                    </div>
                    <input autocomplete="off" name="favorite" value="{{ combo.pk }}" hx-post="{% url 'combos-favorite' combo.pk %}" hx-swap="none" hx-trigger="change" type="checkbox"{% if combo in request.user.favorite_combos.all %} checked{% endif %}>
                </label>
                {% endif %}
            </div>
            <div class="combo-data__users">
                {% for user in combo.users.all %}
                <a class="text--xs {{ user.user_color.css_class }}" href="{{ user.get_absolute_url }}">{{ user.username }}</a>
                {% endfor %}
                {% for guest in combo.guests.all %}
                <p class="text--xs">{{ guest.username }}</p>
                {% endfor %}
            </div>
            <div>
                <p class="text--xxs">{{ combo.created_on }}</p>
            </div>
        </div>
    </div>
    {% if request.user.is_staff %}
    <div class="modal hidden" hx-indicator="*:has( > .loader)">
        <div class="modal__content">
            <form class="combo-actions__form" class="modal__main" hx-post="{% url 'combos-update' combo.pk %}" hx-target="closest .combo" hx-swap="outerHTML">
                <label class="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m387-412 35-114-92-74h114l36-112 36 112h114l-93 74 35 114-92-71-93 71ZM240-40v-309q-38-42-59-96t-21-115q0-134 93-227t227-93q134 0 227 93t93 227q0 61-21 115t-59 96v309l-240-80-240 80Zm240-280q100 0 170-70t70-170q0-100-70-170t-170-70q-100 0-170 70t-70 170q0 100 70 170t170 70ZM320-159l160-41 160 41v-124q-35 20-75.5 31.5T480-240q-44 0-84.5-11.5T320-283v124Zm160-62Z"/></svg>
                    <p>Recommended</p>
                    <input type="checkbox" name="is_recommended" {% if combo.is_recommended %}checked{% endif %}>
                </label>
                <label class="button">
                    <svg class="icon--error" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m388-212-56-56 92-92-92-92 56-56 92 92 92-92 56 56-92 92 92 92-56 56-92-92-92 92ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/></svg>
                    <p>Outdated</p>
                    <input type="checkbox" name="is_outdated" {% if combo.is_outdated %}checked{% endif %}>
                </label>
                <label class="button">
                    <svg class="icon--error" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m600-120-240-84-186 72q-20 8-37-4.5T120-170v-560q0-13 7.5-23t20.5-15l212-72 240 84 186-72q20-8 37 4.5t17 33.5v560q0 13-7.5 23T812-192l-212 72Zm-40-98v-468l-160-56v468l160 56Zm80 0 120-40v-474l-120 46v468Zm-440-10 120-46v-468l-120 40v474Zm440-458v468-468Zm-320-56v468-468Z"/></svg>
                    <p>Map Specific</p>
                    <input type="checkbox" name="is_map_specific" {% if combo.is_map_specific %}checked{% endif %}>
                </label>
            </form>
            <div class="modal__actions">
                <form method="post" action="{% url 'combos-delete' combo.pk %}" _="
                on submit
                    set confirmation to confirm('Are you sure? I cannot undo this.')
                    if not confirmation
                        halt
                    end
                end">
                    {% csrf_token %}
                    <button type="submit" class="button--error">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                        <p>Delete</p>
                    </button>
                    <input type="hidden" name="next" value="/combos/search/">
                </form>
                <button type="button" _="
                on click
                    send submit to the previous .combo-actions__form
                end">
                    <svg class="loader" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_HIK5{transform-origin:center;animation:spinner_XVY9 1s cubic-bezier(0.36,.6,.31,1) infinite}@keyframes spinner_XVY9{50%{transform:rotate(180deg)}100%{transform:rotate(360deg)}}</style><circle cx="12" cy="12" r="3"/><g class="spinner_HIK5"><circle cx="4" cy="12" r="3"/><circle cx="20" cy="12" r="3"/></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                    <p>Save</p>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
    <video muted playsinline src="{{ combo.video.url }}" {% if combo.poster %}poster="{{ combo.poster.url }}"{% endif %} _="
    on load
        make a Plyr from me, {controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'download', 'fullscreen'], storage: {enabled: false}}
    end
    on play
        add .combo-hidden to the previous .combo-data
    end
    on ended
        remove .combo-hidden from the previous .combo-data
    end">
</div>