{% extends 'base.html' %}
{% load static %}

{% block title %}
Inventory
{% endblock title %}

{% block embeds %}
<meta property="og:image" content="{% static 'logo.png' %}">
<meta property="og:title" content="ComboCodex | Inventory">
<meta property="og:description" content="ComboCodex is a website where users can shared and view team combos from the platform fighting game Brawlhalla">
{% endblock embeds %}

{% block header %}
<h1>Inventory</h1>
{% endblock header %}

{% block content %}
<section>
    <div class="section-content">
        <p>Click on an item to apply it. Items can be bought in the shop <a href="{% url 'shop' %}">here</a>.</p>
        {% if not user_colors.exists and not user_themes.exists and not user_background.exists %}
        <h3 class="text--center">You have no items!</h3>
        {% endif %}
    </div>
</section>
{% if user_colors.exists %}
<h2 class="text--header">User Colors</h2>
<section>
    <div class="section-content">
        <div class="user-colors">
            {% for user_color in user_colors %}
            <label class="user-color">
                <img src="{{ user_color.icon }}">
                <input autocomplete="off" type="radio" name="user_color" value="{{ user_color.id }}" hx-post hx-swap="none" hx-trigger="change"{% if user_color == user.user_color %} checked{% endif %}>
                <p class="tooltip">{{ user_color.name }}</p>
            </label>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% if user_themes.exists %}
<h2 class="text--header">User Themes</h2>
<section>
    <div class="section-content">
        <div class="user-themes">
            {% for user_theme in user_themes %}
            <label class="user-theme">
                <img src="{{ user_theme.icon }}">
                <input autocomplete="off" type="radio" name="user_theme" value="{{ user_theme.id }}" hx-post hx-swap="none" hx-trigger="change"{% if user_theme == user.user_theme %} checked{% endif %}>
                <p class="tooltip">{{ user_theme.name }}</p>
            </label>
            {% endfor %}
            {% if custom_theme %}
            <label class="user-theme" _="
            on click
                remove .hidden from the next .modal
            end">
                <img src="{{ custom_theme.icon }}">
                <input autocomplete="off" type="radio" name="user_theme" value="{{ custom_theme.id }}"{% if custom_theme == user.user_theme %} checked{% endif %}>
                <p class="tooltip">{{ custom_theme.name }}</p>
            </label>
            {% endif %}
        </div>
    </div>
</section>
<div class="modal hidden">
    <div class="modal__content">
        <div class="modal__header">
            <p>Select a custom theme color</p>
        </div>
        <div class="modal__main">
            <input type="color" value="{{ user.theme_color }}" name="custom_theme" hx-post hx-swap="none" hx-trigger="change">
        </div>
        <div class="modal__actions">
            <button _="
            on click
                add .hidden to the closest .modal
            end">Done</button>
        </div>
    </div>
</div>
{% endif %}
{% if user_backgrounds.exists %}
<h2 class="text--header">User Backgrounds</h2>
<section>
    <div class="section-content">
        <div class="user-backgrounds">
            {% for user_background in user_backgrounds %}
            <label class="user-background">
                <img src="{{ user_background.image }}">
                <input autocomplete="off" type="radio" name="user_background" value="{{ user_background.id }}" hx-post hx-swap="none" hx-select="body" hx-trigger="change"{% if user_background == user.user_background %} checked{% endif %}>
                <p class="tooltip">{{ user_background.name }}</p>
            </label>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}