{% extends 'base.html' %}
{% load static %}

{% block title %}
Leaderboard
{% endblock title %}

{% block embeds %}
<meta property="og:image" content="{% static 'logo.png' %}">
<meta property="og:title" content="ComboCodex | Leaderboard">
<meta property="og:description" content="ComboCodex is a website where users can shared and view team combos from the platform fighting game Brawlhalla">
{% endblock embeds %}

{% block header %}
<h1>Leaderboard</h1>
{% endblock header %}

{% block content %}
<section>
    <div class="section-content">
        <p>View the top users in the Codex!</p>
        <p>This is calculated by summing a users combos, requests completed, and daily challenges completed.</p>
        <div class="users">
            <div class="user users-info">
                <div>
                    <h3 class="text--center text--xs">Username</h3>
                </div>
                <div>
                    <h3 class="text--center text--xs">Combos</h3>
                </div>
                <div>
                    <h3 class="text--center text--xs">Requests</h3>
                </div>
                <div>
                    <h3 class="text--center text--xs">Challenges</h3>
                </div>
            </div>
            {% for user in users %}
            {% include 'partials/user.html' %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}