{% extends 'base.html' %}

{% block title %}
Shop
{% endblock title %}

{% block header %}
<h1>Shop</h1>
{% endblock header %}

{% block content %}
<form id="accounts-shop__form" hx-post hx-select="#accounts-shop__form" hx-swap="outerHTML">
    <section>
        <div class="section-content">
            <p>Purchase items using codex coins. Items can be applied in your inventory <a href="{% url 'inventory' %}">here</a>.</p>
            {% if not user_colors.exists and not user_themes.exists and not user_backgrounds.exists %}
            <h3 class="text--center">You have purchased all items in the shop. Congrats.</h3>
            {% endif %}
        </div>
    </section>
    {% if user_colors.exists %}
    <h2 class="text--header">User Colors</h2>
    <section>
        <div class="section-content">
            <p>User colors change the way your name appears to others.</p>
            <div class="user-colors">
                {% for user_color in user_colors %}
                <div class="user-color">
                    <img src="{{ user_color.icon }}">
                    <button {% if user.codex_coins < user_color.price %}class="disabled"{% endif %} type="submit" name="user_color" value="{{ user_color.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M444-200h70v-50q50-9 86-39t36-89q0-42-24-77t-96-61q-60-20-83-35t-23-41q0-26 18.5-41t53.5-15q32 0 50 15.5t26 38.5l64-26q-11-35-40.5-61T516-710v-50h-70v50q-50 11-78 44t-28 74q0 47 27.5 76t86.5 50q63 23 87.5 41t24.5 47q0 33-23.5 48.5T486-314q-33 0-58.5-20.5T390-396l-66 26q14 48 43.5 77.5T444-252v52Zm36 120q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                        <p>{{ user_color.price }}</p>
                    </button>
                    <p class="tooltip">{{ user_color.name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    {% if user_themes.exists %}
    <h2 class="text--header">User Themes</h2>
    <section>
        <div class="section-content">
            <p>User themes change the way the site looks for you!</p>
            <div class="user-themes">
                {% for user_theme in user_themes %}
                <div class="user-theme" style="--color-secondary: {{ user_theme.primary_color }}">
                    <img src="{{ user_theme.icon }}">
                    <h4 class="text--center">{{ user_theme.name }}</h4>
                    <button {% if user.codex_coins < user_theme.price %}class="disabled"{% endif %} type="submit" name="user_theme" value="{{ user_theme.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M444-200h70v-50q50-9 86-39t36-89q0-42-24-77t-96-61q-60-20-83-35t-23-41q0-26 18.5-41t53.5-15q32 0 50 15.5t26 38.5l64-26q-11-35-40.5-61T516-710v-50h-70v50q-50 11-78 44t-28 74q0 47 27.5 76t86.5 50q63 23 87.5 41t24.5 47q0 33-23.5 48.5T486-314q-33 0-58.5-20.5T390-396l-66 26q14 48 43.5 77.5T444-252v52Zm36 120q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                        <p>{{ user_theme.price }}</p>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    {% if user_backgrounds.exists %}
    <h2 class="text--header">User Backgrounds</h2>
    <section>
        <div class="section-content">
            <p>User backgrounds change the what the background of the site looks like for you!</p>
            <div class="user-backgrounds">
                {% for user_background in user_backgrounds %}
                <div class="user-background">
                    <img src="{{ user_background.image }}">
                    <button {% if user.codex_coins < user_background.price %}class="disabled"{% endif %} type="submit" name="user_background" value="{{ user_background.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M444-200h70v-50q50-9 86-39t36-89q0-42-24-77t-96-61q-60-20-83-35t-23-41q0-26 18.5-41t53.5-15q32 0 50 15.5t26 38.5l64-26q-11-35-40.5-61T516-710v-50h-70v50q-50 11-78 44t-28 74q0 47 27.5 76t86.5 50q63 23 87.5 41t24.5 47q0 33-23.5 48.5T486-314q-33 0-58.5-20.5T390-396l-66 26q14 48 43.5 77.5T444-252v52Zm36 120q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                        <p>{{ user_background.price }}</p>
                    </button>
                    <p class="tooltip">{{ user_background.name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
</form>
{% endblock content %}