.combos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    align-items: flex-start;

    .combo {
        margin-inline: unset;
        width: clamp(22rem, 45%, 40rem);
    }
}

.combo-hidden {
    transform: translateY(110%);
}

.combo {
    display: block;
    position: relative;
    border: solid 2px var(--color-secondary);
    border-radius: 1rem;
    overflow-y: hidden;
    margin-inline: auto;
    width: clamp(320px, 60%, 1200px);
    overflow-x: visible;
    overflow-y: clip;
    aspect-ratio: 16/9;

    video {
        display: block;
        width: 100%;
        border-radius: 1rem;
    }

    .plyr {
        border-radius: 1rem;
    }

    .combo-data {
        padding: 2%;
        background-color: rgba(0, 0, 0, .95);
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        transition: transform 250ms;
        z-index: 1;

        p {
            margin: 0;
        }

        a {
            margin: 0;
        }

        .combo-data__pairs {
            width: 50%;
            display: flex;
            gap: 2vw;
            align-items: center;

            .combo-data__pair {
                display: flex;
                width: 50%;

                img {
                    flex: 1;
                    width: 50%;
                }
            }
        }

        .combo-data__info {
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: .25rem;
            align-items: flex-end;
            margin-left: auto;

            & > div {
                user-select: none;
                display: flex;
                width: fit-content;
                align-items: center;
                justify-content: right;
            }

            .combo-data__stats {
                display: flex;
                gap: .5rem;

                & > div {
                    display: flex;
                    align-items: center;
                }
            }

            .combo-data__users {
                display: flex;
                gap: .5rem;
            }
        }
    }
}

.combo-favorite {
    cursor: pointer;
    margin: 0;

    .combo-favorite--unfavorite {
        display: none;
    }

    &:has(input:checked) {
        .combo-favorite--unfavorite {
            display: block;
        }
        .combo-favorite--favorite {
            display: none;
        }
    }
}