.daily-challenge {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .daily-challenge__pair {
        display: flex;

        img {
            flex: 1;
            width: 3rem;
        }
    }
}