.pagination {
    margin-inline: auto;
    width: clamp(340px, 70%, 1200px);
    position: relative;
    margin-block: .5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    .pagination__count {
        position: absolute;
        right: 2rem;
    }
}