.requests {
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
    justify-content: center;
    margin-block: 1rem;

    .request {
        width: clamp(275px, 22.5%, 1200px);
    }
}

.request {
    border: solid 2px var(--color-secondary);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    position: relative;
    background-color: $color-base;

    & > p {
        margin: 0;
    }

    .request__pairs {
        margin-block: .5rem;
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        width: 100%;

        .request__pair {
            display: flex;
            width: clamp(4rem, 50%, 8rem);
            flex: 1;
            max-width: 50%;
            user-select: none;

            img {
                display: block;
                flex: 1;
                width: 50%;
                -webkit-user-drag: none;
            }
        }
    }

    .tooltip {
        max-width: 100%;
    }
}

.request__actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: .25rem;
    align-items: center;

    a {
        margin: 0;
    }

    & > *:not(form) {
        cursor: pointer;
    }

    svg {
        width: $size-icon-xxs;
        height: $size-icon-xxs;
    }
}