.user-select {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
    align-items: center;
    justify-content: center;

    & > div {
        cursor: pointer;
        padding: .25rem .5rem;
        border-radius: .5rem;
        background-color: rgba(255, 255, 255, 0.1);
        transition: scale 100ms;

        &:hover {
            scale: 1.05;
        }
    }
}

.user-selected {
    padding-block: .5rem;
    margin: .5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;

    p {
        margin: 0;
    }

    svg {
        width: $font-size-md;
        height: $font-size-md;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}