.home-info {
    display: flex;
    flex-flow: row-reverse wrap;

    .home-info__description {
        flex: 4;
        min-width: 320px;
        display: flex;
        flex-direction: column;

        .home-info__socials {
            margin-top: auto;
        }
    }

    .home-info__logo {
        flex: 1;

        img {
            margin-inline: auto;
            width: 100%;
            min-width: 300px;
            max-width: 50%;
            display: block;
        }
    }
}

.home-stats {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    & > div {
        min-width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
}

.home__weekly-user {
    display: block;
    text-align: center;
    font-size: $font-size-md;
}