.icons {
    display: flex;
    flex-flow: row wrap;
}

.icon {
    display: block;
    margin: .25rem;
    width: $font-size-xl;
    height: $font-size-xl;

    img {
        width: 100%;
        height: 100%;
    }
}