button, input, textarea {
    color: $color-text;
    font-size: $font-size-sm;
}

button, input[type='submit'], .button {
    font-size: $font-size-sm;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem .5rem;
    border: none;
    gap: .25rem;
    background-color: var(--color-secondary);
    color: $color-text;
    border-radius: .5rem;
    transition: scale 125ms, opacity 125ms;

    cursor: pointer;

    p {
        font-size: $font-size-sm;
    }

    svg {
        width: $font-size-md;
        height: $font-size-md;
        fill: $color-text;
        
        path {
            fill: $color-text;
        }
    }

    &:hover {
        scale: 1.05;
    }

    .loader {
        display: none;
    }

    &.htmx-request {
        svg:not(.loader) {
            display: none;
        }
        .loader {
            display: block;
        }
    }
}


input:is([type='text'], [type='search'], [type='email'], [type='password']), textarea {
    display: block;
    margin-inline: auto;
    background-color: $color-base;
    font-size: $font-size-sm;
    padding: .25rem .5rem;
    border-radius: .5rem;
    border: 2px solid var(--color-secondary);

    &:focus {
        outline: none;
    }
}

textarea {
    resize: none;
}

input[type='file'] {
    display: none;
}

.button--error {
    background-color: $color-error;
}

label input:is([type='checkbox'], [type='radio']) {
    display: none;
}

label.button:has(input:is([type='checkbox'], [type='radio']):not(:checked)) {
    opacity: .5;
}

.button--secondary {
    background-color: transparent;
    color: var(--color-secondary);
    border: solid 2px var(--color-secondary);
}

.button--center {
    display: block;
    margin-inline: auto;
}