html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background: url(/static/backgrounds/default.png) no-repeat center center;
    background-size: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header {
    margin-top: $font-size-lg;
    padding: 1rem 5%;
}

main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    :last-child:is(section) {
        flex-grow: 1;
    }
}

section {
    width: 100%;
    background-color: $color-base;
    padding-block: 1rem;
}

.section-content {
    margin-inline: auto;
    width: 75%;

    & > div + div:not(.combo) {
        margin-top: 3rem;
    }
}