html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background: url(/static/backgrounds/default.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: sticky;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header {
    margin-top: $font-size-lg;
    padding: 1rem 5%;
}

main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > :last-child:is(section, form) {
        flex-grow: 1;
    }
    
    & > :last-child:is(div, form) {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        & > :last-child:is(section) {
            flex-grow: 1;
        }

    }
}

section {
    min-width: 100%;
    width: fit-content;
    background-color: $color-base;
    padding-block: 1rem;
}

.section-content {
    margin-inline: auto;
    width: clamp(340px, 70%, 1200px);

    & > div:not(.combo) {
        margin-block: 1rem;
    }
}