.legend-weapon-pairs {
    display: flex;
    gap: 1rem;
}

.legend-weapon-pair {
    flex-grow: 1;
    display: flex;

    img {
        display: block;
        width: $font-size-xl;
        height: $font-size-xl;
    }
}

.daily-challenge {
    width: fit-content;
}