@font-face {
    font-family: 'Bebas Neue';
    src: url(fonts/BebasNeue.ttf);
}

@font-face {
    font-family: 'Dosis';
    src: url(fonts/Dosis.ttf);
}

h1, h2, h3, h4, h5, p, li, a, sub {
    color: $color-text;
    margin: .25rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue';
}

h1 {
    font-size: $font-size-xl;
}

h2 {
    font-size: $font-size-lg;
}

p, li, a, sub {
    font-family: 'Dosis';
    font-size: $font-size-sm;
    padding-inline: 1rem;

    & a {
        margin: 0;
        padding: 0;
    }
}

.text--header {
    font-family: 'Bebas Neue';
}

.text--center {
    text-align: center;
}

.text--primary {
    color: var(--color-primary);
}

.text--secondary {
    opacity: .5;
}

.text--xl {
    font-size: $font-size-xl;
}

.text--lg {
    font-size: $font-size-lg;
}

.text--md {
    font-size: $font-size-md;
}

.text--sm {
    font-size: $font-size-sm;
}

.tooltip {
    width: max-content;
    text-align: center;
    margin: 1% auto;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    font-size: $font-size-sm;
    background-color: rgba(0, 0, 0, 0.9);   
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 0ms;
    padding: .25rem .5rem;
    border-radius: .5rem;
}

*:has(> .tooltip) { 
    position: relative;
    transition: background-color 500ms;
    display: block;
    padding: .25rem;
    border-radius: .5rem;

    &:hover {
        transition: background-color 250ms;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover > .tooltip, &:focus-visible > .tooltip {
        opacity: 1;
        transition: opacity 250ms 250ms;
    }
}

.flex--columns {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    text-wrap: nowrap;
    gap: 1rem;

    & > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
