$color-base: rgba(0, 0, 0, 0.9);
$color-text: #ffffff;

:root {
    --color-primary: #239063;
    --color-secondary: color-mix(in srgb, var(--color-primary) 85%, white 15%);
    --color-tertriary: color-mix(in srgb, var(--color-primary) 75%, white 25%);
}

$color-error: #b33831;

$size-icon-md: clamp(3rem, 4vw, 6rem);
$size-icon-sm: clamp(2.75rem, 3vw, 5rem);
$size-icon-xs: clamp(2rem, 2.25vw, 4rem);
$size-icon-xxs: clamp(1.75rem, 2vw, 3.5rem);
$size-icon-lg: clamp(4rem, 5vw, 7rem);