$color-base: rgba(0, 0, 0, 0.9);
$color-text: #ffffff;
$color-primary: #165a4c;
$color-secondary: #239063;
$color-tertriary: #92c9b2;
$color-error: #b33831;

$size-icon-md: clamp(3rem, 4vw, 6rem);
$size-icon-sm: clamp(2.75rem, 3vw, 5rem);
$size-icon-lg: clamp(4rem, 5vw, 7rem);