{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block embeds %}
    {% endblock embeds %}
    <title>{% block title %}{% endblock title %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/styles.scss' %}">
    {% endcompress %}
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</head>
<body hx-headers="">
    <header>{% block header %}{% endblock header %}</header>
    <main>{% block content %}{% endblock content %}</main>
</body>
</html>