{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ComboCodex{% endblock title %}</title>
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="theme-color" content="#000000">
    <meta name="manifest" content='/static/manifest.json'>
    {% block embeds %}
    <meta property="og:image" content="{% static 'logo.png' %}">
    <meta property="og:title" content="ComboCodex">
    <meta property="og:description" content="ComboCodex is a website where users can shared and view team combos from the platform fighting game Brawlhalla">
    {% endblock embeds %}
    <link rel="icon" type="image/x-icon" href="{% static 'logo.ico' %}">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static '/styles/styles.scss' %}?ver=1.1">
    {% endcompress %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js" integrity="sha512-2kIcAizYXhIn8TzUvqzEDZNuDZ+aW7yE/+f1HJHXFjQcGNfv1kqzJSTBRBSlOgp6B/KZsz1K0a3ZTqP9dnxioQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hyperscript/0.9.14/_hyperscript.min.js" integrity="sha512-l43sZzpnAddmYhJyfPrgv46XhJvA95gsA28/+eW4XZLSekQ8wlP68i9f22KGkRjY0HNiZrLc5MXGo4z/tM2QNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.min.js" integrity="sha512-vONptKEoKbP1gaC5UkbYDa9OPr04ur4bxaaqT7DAJxGHB2oogtseCPrl5e5hPFokGYotlGNV4d+GM593ka7iNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.8/plyr.min.css" integrity="sha512-uPqDOam5vjVgnASE75fCgMtdLa3oK2+3muDU5ESulSImHAA0Z0xjEnuJpKowTsXUWY09MsYre48zgBFwh2P/yw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    <script type="text/hyperscript">
        on keyup[key is 'Escape'] from document
            add .hidden to .modal
        end
        on keydown[key is 'Enter'] from <input/>
            halt the event
        end
        on click from .modal
            if event.target matches .modal
                add .hidden to event.target
            end
        end
    </script>
</head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% if request.user.is_authenticated %}
        <style id="user-styling" hx-swap-oob="outerHTML">
            :root {
                --color-primary: {{ request.user.theme_color }};
                --color-secondary: color-mix(in srgb, var(--color-primary) 85%, white 15%);
                --color-tertriary: color-mix(in srgb, var(--color-primary) 75%, white 25%);
                --plyr-color-main: var(--color-secondary);
            }
            body {
                background-image: url({{ request.user.user_background.image }});
            }
        </style>
        {% endif %}
        {% include 'navigation.html' %}
        <header>{% block header %}{% endblock header %}</header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <div id="messages" class="messages" hx-swap-oob="outerHTML">
            {% for message in messages %}
              <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                  <p>{{ message }}</p>
              </div>
              {% endfor %}
        </div>
    </body>
</html>