.spreadsheet-content {
    width: fit-content;
    margin-inline: auto;

    & > .spreadsheet-tooltip {
        display: none !important;
    }
}

.spreadsheet__form {
    position: fixed;
    padding: 1rem;
    background-color: $color-base;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: flex;
    gap: 1rem;

    .button {
        margin: 0;
        width: fit-content;
    }
}

.spreadsheet {
    text-align: initial;
    width: 100%;
    padding-left: 10px !important;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    --spreadsheet-zoom: .75;

    & > div {
        margin: 1.5% auto;
    }

    a {
        margin-block: 0;

        cursor: default;

        &[href] {
            cursor: pointer;
        }
    }


    .tooltip {
        border-radius: 1rem;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        transition: opacity 0ms;
        z-index: 99;
        opacity: 1;
        display: none;

        p {
            margin: 0;
        }
    }
}

.spreadsheet__row-head {
    border-bottom: none;
    display: inline-flex;
    margin-inline: auto;

    .spreadsheet__row-head-spacer {
        width: calc(75px * var(--spreadsheet-zoom));
    }

    img {
        height: auto;
    }

    & > div {
        display: flex;
        width: calc(50px * var(--spreadsheet-zoom));
        flex-direction: column;

        & > img {
            width: 100%;
        }

        & > div {
            width: 100%;
            display: flex;

            img {
                width: 50%;
                flex: 1;
            }
        }
    }
}

.spreadsheet__column {
    display: flex;
    flex-flow: column nowrap;

    & > div {
        display: flex;
        margin-inline: auto;

        .spreadsheet__column-head-item {
            display: flex;
            width: calc(75px * var(--spreadsheet-zoom));

            img {
                height: auto;
            }

            & > img {
                width: calc(50px * var(--spreadsheet-zoom));
            }

            & > div {
                width: calc(25px * var(--spreadsheet-zoom));
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                    flex: 1;
                }
            }
        }
        .spreadsheet__column-data {
            display: flex;

            & > div {
                width: calc(25px * var(--spreadsheet-zoom));
                height: calc(50px * var(--spreadsheet-zoom));
                display: flex;
                flex-direction: column;

                & > a {
                    height: 50%;
                    width: 100%;

                    &:hover {
                        outline: solid 2px var(--color-tertriary);

                        .tooltip {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

.spreadsheet__pairs {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    .spreadsheet__pair {
        display: flex;
        width: clamp(4rem, 50%, 8rem);

        img {
            flex: 1;
            width: $size-icon-xs;
        }
    }
}