.combos-verify {
    .combos-verify__form {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        & > * {
            min-width: 320px;
        }

        .combos-verify__form--actions {
            display: flex;

            justify-content: center;
        }
    }
}